@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Recipe</h1>
    <p>Tabella Riepilogativa Articoli</p>
    <table class="table table-bordered mt-3">
        <thead class="bg-light">
        <tr>
            <th>Indice</th>
            <th>Articolo</th>
            <th>Note</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var Item in Model.ListaArticoli)
        {
            <tr>
                <td>@Item.Id</td>
                <td>@Item.Articolo</td>
                <td>@Item.Note</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-Id="@Item.Id">
                        <button>
                            <img src="images/Actions-edit-delete-icon.png" alt="Delete" width="24" height="24"/>
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary mt-3" asp-page="/Articoli/Create">Pagina Creare Articolo</a>
</div>
